@model OrdersViewModel

@if (Model != null)
{
    <p>
        <a asp-area="" asp-controller="Orders" asp-action="Index" asp-route-page=@(Model.PrevPage) asp-route-search=@(Model.Result?.Condition?.SearchString)>前ページ</a>
        <a asp-area="" asp-controller="Orders" asp-action="Index" asp-route-page=@(Model.NextPage) asp-route-search=@(Model.Result?.Condition?.SearchString)>次ページ</a>
    </p>
}
