@model OrdersViewModel

@{
    ViewData["Title"] = "指図";
}

<h1>指図</h1>

@if (Model != null)
{
    <p>@Model.Total 件中 @Model.FirstIndex - @Model.LastIndex</p>

    <partial name="Partial/PrevNext" model=Model />
    <partial name="Partial/Search" model=Model.Condition />
    <partial name="Partial/Table" model=Model.Data />
    <partial name="Partial/PrevNext" model=Model />
}
