@model OrdersViewModel

@{
    ViewData["Title"] = "指図";
}

<h1>指図</h1>

<p>@(Model.ItemsCount) 件中 @(Model.FirstIndex) - @(Model.LastIndex)</p>

<p>
    <a asp-area="" asp-controller="Orders" asp-action="Index" asp-route-search=@(Model.Search) asp-route-page=@(Model.PrevPage) >前ページ</a>
    <a asp-area="" asp-controller="Orders" asp-action="Index" asp-route-search=@(Model.Search) asp-route-page=@(Model.NextPage) >次ページ</a>
</p>

<partial name="Partial/Search" model=Model.Orders />
<partial name="Partial/Table" model=Model.Orders />
