@model OrdersSearchViewModel

@{
    ViewData["Title"] = "指図";
}

<h1>指図</h1>

@if (Model != null)
{
    <p>@Model.Total.ToString("#,#0") 件中 @Model.FirstIndex.ToString("#,#0") - @Model.LastIndex.ToString("#,#0")</p>

    <p>
        <a asp-area="" asp-controller="Orders" asp-action="Index" asp-route-page=@(Model.Page-1) >前ページ</a>
        <a asp-area="" asp-controller="Orders" asp-action="Index" asp-route-page=@(Model.Page+1) >次ページ</a>
    </p>

    <partial name="Partial/Search" model=Model.Condition />
    <partial name="Partial/Table" model=Model.Data />
}
