@model OrdersViewModel

@{
    ViewData["Title"] = "指図";
}

<h1>指図</h1>

@if (Model != null)
{
    <p>@Model.Total 件中 @Model.FirstIndex - @Model.LastIndex</p>

    <p>
        <a asp-area="" asp-controller="Orders" asp-action="Index" asp-route-page=@(Model.PrevPage) asp-route-number=@(Model.Condition?.Number) >前ページ</a>
        <a asp-area="" asp-controller="Orders" asp-action="Index" asp-route-page=@(Model.NextPage) asp-route-number=@(Model.Condition?.Number) >次ページ</a>
    </p>

    <partial name="Partial/Search" model=Model.Condition />
    <partial name="Partial/Table" model=Model.Data />
}
